.section-content-1-shop {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    /* align-items:center; */
    width: fit-content;
    /* margin-top: 50px; */
    margin-left: 50px;
}

.section-content-1-shop .shop-titles .filter-title-shop, .productline-title-shop, .price-title-shop, .rating-title-shop {
    color: var(--800);
    display: grid;
    grid-template-rows: 25px 25px;
}

.section-content-1-shop .shop-line {
    background-color: var(--300);
    width: 180px;
    height: 1px;
}

.section-content-1-shop .price-section {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.section-content-1-shop .price-section .container .slider{
    appearance: none;
    width: 100%;
    height: 5px;
    /* outline: none; Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    background-color: var(--200);
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 10px;

}

.section-content-1-shop .price-section .container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--border-radius-xl);
    background: var(--Olive-Dark);
    height: 15px;
    width: 15px;
}

.section-content-1-shop .price-section .container .slider:active::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--border-radius-xl);
    background: var(--Olive-Dark);
    height: 15px;
    width: 15px;
}

.section-content-1-shop .price-section .prices {
    font-weight: var(--font-weight-normal);
    color: var(--900);
}

.section-content-1-shop .options-shop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* text-decoration: none; */
}

.section-content-1-shop .options-shop .aa {
    text-decoration: none;
    color: var(--700);
}

.section-content-1-shop form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-content-1-shop .stars-rate {
    display: inline-flex;
    gap: 10px;
    text-align: center;
    font-size: var(--font-size-m);
}

.section-content-1-shop .stars-rate .label1 {
    color: var(--700);
}

.section-content-1-shop .stars-rate i{
    font-size: var(--font-size-m);
}

.section-content-1-shop .stars-rate .checked {
    color: #FFE279;
}

.section-content-1-shop .stars-rate input[type="radio"] {
   accent-color: var(--Olive-Dark);
   transform: scale(1.5);
   /* margin: 10px; */
}