.home-header {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 32px;
    background-image: url('../assets/mockup-header.jpg');
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.home-header .headers {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    top: -11rem;
    right: -50rem;
    gap: 8px;
}

.home-header .headers .header-title{
    color: var(--Olive-Dark);
    font-size: var(--font-size-xxxxl);
    font-weight: var(--font-weight-medium);
    text-align: end;
    width: 500px;
}

.home-header .header-button {
    background-color: var(--Olive-Medium);
    display: inline-flex;
    gap: 5px;
    align-items: center;
    border-radius: var(--border-radius-circle);
    border-color: var(--Olive-Medium);
    width: 180px;
    padding: 10px;
    text-align: center;
    height: 50px;
    justify-content: space-between;
}

.home-header .header-button .button-header-name {
    font-size: var(--font-size-m);
    color: var(--50);
    text-align: center;
}

.home-header .header-button .explore-icon {
    width: 30px;
    height: 30px;
    background-color: var(--50);
    border-radius: var(--border-radius-circle);
    border-style: none;
}

.home-header .header-button i {
    transform: rotate(-140deg);
    font-size: var(--font-size-m);
    text-align: center;
    color: var(--Olive-Light);
}

.home-header .new-product {
    /* width: 560px; */
    background-color: var(--50);
    padding: 0px 15px;
    border-radius: var(--border-radius-m);
    position: absolute;
    top: 580px;
    display: inline-flex;
    align-items: center;
    /* height: 185px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.home-header .new-product .new-products {
    margin-top: -70px;
}

.home-header .new-product .desc-new {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    /* text-align: end; */
    /* align-items: end; */
    padding: 15px 20px;
}

.home-header .new-product .desc-new .new-pro-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    text-align: left;
}

.home-header .new-product .desc-new .new-pro-desc {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-normal);
    color: var(--900);
    width: 330px;
}

.home-header .new-product .desc-new .buttons-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15rem;
    
}

.home-header .new-product .desc-new .buttons-right .button-new-pro {
    border: 1.5px solid var(--Olive-Dark);
    width: 120px;
    height: 50px;
    border-radius: var(--border-radius-xl) ;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    color: var(--Olive-Dark);
    padding: 10px 15px;
    text-align: center;
    background-color: var(--50);
    align-items: end;
}

.home-header .social-media {
    align-self: self-end;
    margin-left: 45rem;

}
.home-header .social-media .social {
    width: 40px;
    height: 40px;
    border: 1px solid var(--Olive-Dark);
    /* background-color: none; */
    background: none;
    border-radius: var(--border-radius-circle);
    display: block;
    margin-bottom: -15px;
    
}

.home-header .social-media .social i {
    font-size: var(--font-size-m);
    color: var(--Olive-Dark);
    text-align: center;
}


.home-header .social-media .a-line {
    height: 240px;
    width: 1px;
    background-color: var(--Olive-Dark);
    display: block;
    margin-left: auto;
    margin-right: auto;
}