.navbar {
    display: flex;    
    width: 100%;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    z-index: 9999;
    /* border-bottom: 1px solid var(--primary); */
}

.navbar-brand {
    display: flex;
    gap: 10px;
    
}
.navbar-nav {
    display: inline-flex;
    gap: 30px;
}

.navbar .navbar-sign {
    display: flex;
    gap: 8px;
}

/* Text navbar, logo title, icons and signin/up */
.navbar .navbar-brand .logo-title {
    color: var(--Olive-Dark); 
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    font-size: var( --font-size-l);
}

.navbar .navbar-nav .nav-text {
    color: var(--Olive-Dark);
    font-size: var(--font-size-m);
}

.navbar .nav-1 {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.navbar .nav-2 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
}

.navbar .navbar-sign .nav-signbutton-1 {
    color: var(--Olive-Dark);
    border: 1px  solid;
    border-radius: var(--border-radius-circle);
    border-color: var(--Olive-Dark);
    width: 110px;
    padding: 10px;
    text-align: center;
}

.navbar .navbar-sign .nav-signbutton-2 {
    color: var(--50);
    background-color:var(--Olive-Dark);
    border: 1px  solid;
    border-radius: var(--border-radius-circle);
    border-color: var(--Olive-Dark);
    width: 110px;
    padding: 10px;
    text-align: center;
}

.navbar .navbar-icons {
    display: inline-flex;
    gap: 8px;
}
.navbar .navbar-icons .nav-icons {
    color: var(--Olive-Dark);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-light);
    padding: 10px;
}
