.section-content-1 {
    display: flex;
    gap: 40px;
    height: 260px;
    padding: 80px 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Sage-Light);
}

.section-content-1 .section1-desc {
    width: 895px;
    height: 100px;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-l) ;
}

.section-content-1 .section1-line {
    border-left: 1px solid var(--900);
    height: 150px;
}

.section-content-1 .cover-small {
    width: 350px;
    height: 125px;
}

.section-content-1 .cover-small .product-small {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px -60px;
    
}