* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Quicksand', sans-serif; */
}

:root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

}

:root {
  /* Main color */
  --Olive-Dark: #56584E;
  --Olive-Medium: #7C7D70;
  --Olive-Light: #9E9E8F;
  --Sage-Light: #C7C8BB;

  /* Grey scale */
  --900: #212121;
  --800: #424242;
  --700: #616161;
  --600: #757575;
  --500: #9e9e9e;
  --400: #bdbdbd;
  --300: #e0e0e0;
  --200: #eeeeee;
  --100: #f5f5f5;
  --50: #fafafa;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;
  --font-size-xxxl: 3rem;
  --font-size-xxxxl: 4rem;

  /* Font weight */
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-r: 10px;
  --border-radius-m: 30px;
  --border-radius-l: 20px;
  --border-radius-xl: 25px;
  --border-radius-circle: 45px;

  /* Site max width */
  --site-max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--50);
  color: var(--900);
}

